<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADVBOX.Properties.Settings.comandosoftConnectionString"
            connectionString="Data Source=laptop-01k5lkeh\sqlexpress;Initial Catalog=comandosoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>